// Body Config
body {
    font-family: $font3;
}

// Banner Config
#banner {
    background-color: #8aa6a4;
    background: -moz-linear-gradient(left, #8aa6a4 0%, #ffffff 100%);
    background: -webkit-linear-gradient(left, #8aa6a4 0%, #ffffff 100%);
    background: linear-gradient(to right, #8aa6a4 0%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8aa6a4', endColorstr='#ffffff', GradientType=1);
    text-align: center;
}

#banner-img {
    width: 85%;
}

// Navigation and Menu Config
nav {
    margin: 0 auto;
    max-width: 760px;
    background-color: $light1;
}

.navigation li {
    display: none;
}

.navigation li:first-child {
    display: block;
}

.navigation {
    list-style: none;
    text-align: center;
    text-transform: uppercase;
    padding: 0;
}

.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
    font-weight: $bold;
}

.active {
    background-color: $bright1;
}

.navigation a:hover {
    color: black;
    background-color: $bright1;
}

.responsive li {
    display: block;
}

// Main
main {
    margin: 0 auto;
    max-width: 760px;
}

h1 {
    text-align: center;
}

h2,
h3,
p {
    margin-left: 5px;
}

// Footer Config
footer {
    margin: 0 auto;
    max-width: 760px;
    padding: 0.75rem 0rem;
    background-color: #ffffff;
    background: -moz-linear-gradient(left, #ffffff 0%, #8aa6a4 100%);
    background: -webkit-linear-gradient(left, #ffffff 0%, #8aa6a4 100%);
    background: linear-gradient(to right, #ffffff 0%, #8aa6a4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#8aa6a4', GradientType=1);
    text-align: center;
    font-weight: $normal;
}

/* Reservation Page */
.formFlex {
    display: flex;
    flex-direction: row;
    margin-top: 3px;
}

.formFlex label {
    flex: 1 1 content;
    width: 125px;
    font-weight: $bold;
    font-size: 1em;
    margin-bottom: 10px;
    margin-left: 30px;
    padding: 4px;
    margin-top: -4px;
}

fieldset {
    background-color: $light1;
}

.fieldsetLabel {
    font-weight: $bold;
}

.formBot {
    background-color: $light1;
    box-shadow: rgb(0, 0, 0) 5px 5px 5px;
    border: 2px solid $light1;
    font-weight: $bold;
}

.divider {
    width: 10px;
    height: auto;
    display: inline-block;
}

/* Temple Page */
article {
    background-color: $light1;
    padding-top: 2px;
    border: 2px solid silver;
    margin-bottom: 20px;
    ;
}

.liSection,
.liClosure {
    list-style: none;
    padding: 2.5px;
}

.divGrid {
    display: grid;
    grid-template-columns: 1;
    grid-gap: 0px;
    margin-top: -20px;
}

.ulSection {
    margin-top: -10px;
    margin-left: -30px;
}

.ulClosure {
    margin-top: -10px;
    margin-left: -30px;
}

.imageTemple {
    width: 100%;
}

/* Services Page */
.servicesSection>ul>li,
.amenitiesSection>ul>li {
    list-style: none;
    padding: 10px;
}

.servicesSection,
.amenitiesSection {
    background-color: $light1;
    padding-top: 2px;
    border: 2px solid silver;
    margin-bottom: 20px;
}

/* Missionary Page */

.basic>img,
.deluxe>img {
    width: 100%;
    box-shadow: 0px 5px 30px 7px rgba(0, 0, 0, 0.9);
    border-radius: .4em;
    margin: 0px 0px 0px 0px;
}

/* Wedding Page */
.weddingPage {
    background-color: $light1;
    padding-top: 2px;
    border: 2px solid silver;
    margin-bottom: 20px;
    text-align: center;
}

.wedingImg {
    width: 90%;
    padding-bottom: 20px;
}

.formBot2 {
    background-color: $light1;
    box-shadow: rgb(0, 0, 0) 5px 5px 5px;
    border: 2px solid $light1;
    font-weight: $bold;
    margin: 0 auto;
    text-align: center;
}

/* Main Page */
.homeSection {
    background-color: $light1;
    padding-top: 2px;
    border: 2px solid silver;
    margin-bottom: 20px;
    text-align: center;

}

.homeImg {
    width: 90%;
    padding-bottom: 20px;
    text-align: left;
}

p {
    word-wrap: break-word;
}

.catchUp {
    color: black;
    font-size: 26px;
    line-height: 79px;
    padding: 13px;
    margin: 0 auto;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 700;
    background-color: #f2cf73;
    box-shadow: #000 5px 5px 15px 5px;

    a:hover {
        background-color: transparent;
    }
}