$rich1: rgba(196, 156, 77, 1);
$rich2: rgba(99, 111, 68, 1);
$rich3: rgba(101, 107, 122, 1);
$rich4: rgba(114, 114, 106, 1);
$rich5: rgba(94, 69, 104, 1);

$bright1: rgba(242, 207, 115, 1);
$bright2: rgba(149, 164, 86, 1);
$bright3: rgba(138, 166, 164, 1);
$bright4: rgba(157, 161, 146, 1);
$bright5: rgba(131, 104, 147, 1);

$light1: rgba(240, 229, 190, 1);
$light2: rgba(206, 215, 166, 1);
$light3: rgba(195, 214, 210, 1);
$light4: rgba(212, 213, 204, 1);
$light5: rgba(177, 185, 208, 1);
$light6: rgba(255, 220, 115, .4);

$font1: 'Roboto',
sans-serif;
$font2: 'Playfair Display',
serif;
$font3: 'Montserrat',
sans-serif;
$font4: 'Open Sans',
sans-serif;

$bold: 700;
$normal: 400;