/* Media Query for medium screens */
@media only screen and (min-width: 32.5em) {
    .navigation {
        display: flex;
    }

    .navigation li:first-child {
        display: none;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    #banner-img {
        width: 70%;
    }

    footer {
        font-weight: $bold;
    }

    .divGrid {
        display: grid;
        grid-template-columns: 20% 80%;
        grid-gap: 0px;
        margin-top: -20px;
    }

    .h3Section {
        grid-row: 1;
        grid-column: 1;
    }

    .h3Closure {
        grid-row: 1;
        grid-column: 2;
    }

    .ulSection {
        grid-row: 2;
        grid-column: 1;
        margin-top: -10px;
        margin-left: -30px;
    }

    .ulClosure {
        grid-row: 2;
        grid-column: 2;
        margin-top: -10px;
        margin-left: -30px;
    }
}