/* Media Query for large + screens */
@media only screen and (min-width: 64em) {
    .navigation {
        display: flex;
    }

    .navigation li:first-child {
        display: none;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .header-img {
        margin-left: auto;
        margin-right: auto;
        width: 760px;
        height: auto;
    }

    section {
        max-width: 760px;
        margin-left: auto;
        margin-right: auto;
    }

    footer {
        max-width: 760px;
        margin-left: auto;
        margin-right: auto;
    }

    .navigation {
        text-transform: uppercase;
    }

    .forecast {
        display: block;
    }

    #article-image {
        display: block;
        width: 208px;
        height: auto;
        float: right;
        margin-top: -60px;
    }

    .contact-large {
        display: grid;
    }

    .google-iframe {
        grid-column: 1;
        grid-row: 1;
    }

    .contact-text {
        grid-column: 2-3;
        grid-row: 1;
        align-self: center;
        text-align: left;
    }

    #gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }

    /* Temperature Data age */
    #tempGrid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .google-iframe {
        display: block;
    }
}