/* Header */
nav {
    margin: 0 auto;
    /* max-width: 760px; */
    background-color: #31323A;
}

header div img {
    width: 300px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.navigation {
    list-style: none;
    text-align: center;
    text-transform: uppercase;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.active {
    color: black;
}

.navigation li:hover {
    color: #31323A;
    background-color: rgba(255, 255, 255, 0.9);
    font-weight: 700;
}

.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
}

.navigation a:hover {
    color: #31323A;
    font-weight: 700;
}

.responsive li {
    display: block;
}

.yellow {
    color: #FFF331;
}

.blue {
    color: #299BFF;
}

.red {
    color: #FF0000;
}

.green {
    color: #16FF6E;
}

.active {
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    font-weight: 700;
}

/* Main */
h1,
h2,
h3 {
    text-align: center;
    font-family: 'Londrina Shadow', Arial, sans-serif;
}

p,
form,
label {
    font-family: cursive, Arial, sans-serif;
}

section {
    /* background-color: #FCF8E2; */
    /* border: 1px black double; */
    margin: 5px;
    padding: 5px;
    max-width: 770px;
}

#pancake {
    background: #299bff;
    background: -moz-linear-gradient(left, #299bff 0%, #16ff6e 50%, #fff331 100%);
    background: -webkit-linear-gradient(left, #299bff 0%, #16ff6e 50%, #fff331 100%);
    background: linear-gradient(to right, #299bff 0%, #16ff6e 50%, #fff331 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#299bff', endColorstr='#fff331', GradientType=1);
    color: black;
    text-align: center;
}

.hero {
    -webkit-box-shadow: 0px 0px 10px 6px #299BFF, 0px 0px 45px 6px #FFF331, 0px 0px 30px 6px #16FF6E;
    box-shadow: 0px 0px 10px 6px #299BFF, 0px 0px 45px 6px #FFF331, 0px 0px 30px 6px #16FF6E;
    color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 0px auto;
    padding: 0px;
}

.hero-image {
    width: 100%;
    /* margin: -5px; */
}


.hero-text {
    padding: 5px;
    text-align: left;
    position: absolute;
    top: 48%;
    left: 80%;
    transform: translate(-50%, -50%);
    color: black;
    background-color: rgba(164, 160, 160, 0.2);
    width: 200px;
}

.hero-text h2,
p {
    margin: 3px;
    padding: 3px;
}

.hidden {
    display: none;
}

.forecast {
    display: none;
    background: #fff331;
    background: -moz-linear-gradient(left, #fff331 0%, #fff331 0%, #16ff6e 50%, #299bff 100%);
    background: -webkit-linear-gradient(left, #fff331 0%, #fff331 0%, #16ff6e 50%, #299bff 100%);
    background: linear-gradient(to right, #fff331 0%, #fff331 0%, #16ff6e 50%, #299bff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff331', endColorstr='#299bff', GradientType=1);
    padding-bottom: 20px;
}

th,
td {
    border: 1.5px solid black;

}

section table,
tr,
th,
td {
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    vertical-align: center;
}

td>p {
    margin-top: -11px;
}


.article-box {
    background: #299bff;
    background: -moz-linear-gradient(left, #299bff 0%, #16ff6e 50%, #fff331 100%);
    background: -webkit-linear-gradient(left, #299bff 0%, #16ff6e 50%, #fff331 100%);
    background: linear-gradient(to right, #299bff 0%, #16ff6e 50%, #fff331 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#299bff', endColorstr='#fff331', GradientType=1);
    color: black;
}

.article-text {
    display: block;
    margin: 1em;
}

#article-image {
    width: 95%;
    height: auto;
    padding: 10px;
}

.contact-info {
    background: #fff331;
    background: -moz-linear-gradient(left, #fff331 0%, #fff331 0%, #16ff6e 50%, #299bff 100%);
    background: -webkit-linear-gradient(left, #fff331 0%, #fff331 0%, #16ff6e 50%, #299bff 100%);
    background: linear-gradient(to right, #fff331 0%, #fff331 0%, #16ff6e 50%, #299bff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff331', endColorstr='#299bff', GradientType=1);
}

.contact-text {
    text-align: center;
}

.google-iframe {
    width: 100%;
    text-align: center;
    border: 0px;
}

/* Footer */
footer {
    background-color: #31323A;
    text-align: center;
    margin: 0px;
    padding: 8px;
    color: #FF0000;
}

footer p {
    margin: 5px;
}

/* Gallery Page */
#gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

section figure {
    max-width: none;
    background-color: white;
    margin: 0px;
    padding: 0px;
    font-family: cursive, Arial, sans-serif;
}

section figure img {
    width: 100%;
    filter: blur(0em);
    transition: filter 0.5s;
}

#gallery figcaption {
    color: black;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
    bottom: 4px;
    text-align: center;
}

section figure img:hover {
    box-shadow: 0 0 50px #333;
}

section figure img[data-src] {
    filter: blur(0.2em);
}

/* Storm Center Page */
form {
    max-width: 750px;
    margin: 0 auto;
    padding: 12px;
    background: #fff331;
    background: -moz-linear-gradient(left, #fff331 0%, #fff331 0%, #16ff6e 50%, #299bff 100%);
    background: -webkit-linear-gradient(left, #fff331 0%, #fff331 0%, #16ff6e 50%, #299bff 100%);
    background: linear-gradient(to right, #fff331 0%, #fff331 0%, #16ff6e 50%, #299bff 100%);
}

label {
    display: inline-block;
    min-width: 120px;
}

form div {
    margin-bottom: 5px;
}

.flex {
    display: flex;
}

.nomargin {
    margin: 3px;
}

#align-top {
    vertical-align: top;
}

.flexly {
    display: flex;
    align-items: center;
}

#ratingvalue {
    margin: 0 15px;
}

#rating {
    margin-left: 60px;
}

/* Temperature Data age */
#tempGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    text-align: center;
    /* font-size: 18px; */
}

p img {
    max-width: 248px;
}

section article div h4 {
    min-height: 34px;
    margin-top: -20px;
    font-size: 15px;
    padding: 0px 2px;
}

#mainArticle1 {
    background-color: rgb(22, 255, 110, 0.7);
}

#mainArticle2 {
    background-color: rgb(255, 243, 49, 0.7);
}

#mainArticle3 {
    background-color: rgb(41, 155, 255, 0.7)
}

.google-iframe {
    display: none;
}